

@font-face {
  font-family: 'NautilusPompilius';
  src: url('../fonts/NautilusPompilius.woff2') format('woff2'),
  url('../fonts/NautilusPompilius.woff') format('woff'),
  url('../fonts/NautilusPompilius.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 18px;
  border: 1px solid #e2e2e2;
}

* {
  padding: 0;
  margin: 0;
}

/* begin header */
header {
  background-image: url(../images/header.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
}

header ul {
  display: flex;
  list-style-type: none;
  margin-top: 49px;
  margin-left: 60px;
}

header li {
  margin-right: 30px;
}

.inviting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
  margin-right: 60px;
  width: 261px;
  height: 50px;
  border: solid 1px #ffffff;
  border-radius: 100px;
}

.label_header h2, .label_header h3 {
  margin: 0;
}

.label_header h2 {
  font-family: NautilusPompilius;
}

.label_header h2 {
  font-size: 100px;
  line-height: 1;
  text-align: center;
}

.label_header h3 {
  font-style: italic;
  line-height: normal;
  text-align: center;
}

.preview {
  display: flex;
  justify-content: space-between;
  height: 100px;
  opacity: 0.15;
  background-color: #000000;
}

.preview h3 {
  margin-top: 46px;
  margin-left: 105px;
  font-size: 14px;
  font-style: italic;
/*   line-height: normal; */
  text-align: center;
}

.preview span {
  margin-top: 38px;
  margin-right: 124px;
  opacity: 0.5;
  font-family: GillSans;
  line-height: 1.33;
  text-align: left;
}
/* end header */





/* begin section history */
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history h2 {
  width: 528px;
  margin-top: 70px;
  font-size: 30px;
  line-height: 40px;
  color: #5d5d5d;
}

.colortext {
  color: #3cbca3;
}

.history p {
  width: 920px;
  margin-top: 20px;
  background-image: linear-gradient(to bottom, #5d5d5d, #d8d8d8);
   -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.history h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 50px;
  margin-top: 30px;
  border-radius: 100px;
  background-color: #ff8581;
  text-align: center;
  color: #ffffff;
}

time::before {
  /*background-image: url(../images/wp-48-l-9-c-9.png);*/
  /*background-size: cover;*/
}

.time {
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  height: 396px;
  margin-top: 70px;
  /* -webkit-filter: blur(50px); 
  filter: blur(50px);*/ 
  background-color: #e2e2e2;
}

.time_inviting h2 span {
  font-size: 44px;
  color: #3cbca3;
}

.time_inviting span {
  padding-bottom: 70px;
}

.oval:nth-child(1) {
  margin-left: 180px;
}

.oval {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 200px;
  margin-top: 70px;
  margin-right: 40px;
  border: 4px solid #ffffff;
  border-radius: 50%;

  color: #ffffff;
  line-height: normal;
}

.oval h4 {
  font-size: 100px;
  font-weight: normal;
  line-height: normal;
}

.oval h5 {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  line-height: normal;
}

.oval h4, h5 {
  /*border: 2px solid green;*/
  padding: 0;
  margin: 0;
}

.history span {
  margin: 0;
  margin-left: 486px;
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
}

.history h2 strong {
  font-size: 30px;
  color: #3cbca3;
}

/* end section history */


/* begin time_inviting */
.time_inviting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time_inviting h2 {
  margin-top: 70px;
  font-size: 44px;
  font-weight: normal;
  line-height: 0.91;
  color: #5d5d5d;
}

.time_inviting p {
  width: 920px;
  margin-top: 30px;
  line-height: 1.56;
  color: #5d5d5d;
}

.time_inviting h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 50px;

  margin-top: 35px;
  border-radius: 100px;
  background-color: #ff8581;
  text-align: center;
  color: #ffffff;
}

.time_inviting span {
  width: 95px;
  margin-top: 30px;
  font-family: GillSans;
  font-size: 14px;
  line-height: normal;
  color: #bebebe;
}

.time_inviting span:: after {
  position: absolute;
  content: "";
  width: 94px;
  margin-bottom: 70px;
  height: 1px;
  opacity: 0.2;
  background-color: #5d5d5d;
}

.shedule {
  height: 686px;
  background-color: #f0f0f0;
}

.shedule h2 {
  height: 40px;
  padding-top: 70px;
  font-family: GillSans;
  font-size: 30px;
  line-height: 1.33;
  text-align: center;
  color: #5d5d5d;
}

.shedule h2 span {
  font-size: 30px;
  color: #3cbca3;
}

.buy {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: #ffffff;

  width: 918px;
  height: 130px;
  border-radius: 100px;
}

.hour {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #f0f0f0;

  width: 918px;
  height: 32px;
}

.address {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #f0f0f0;

  width: 918px;
  height: 16px;
}

.buy h3, .hour h3, .address h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  /*border: 2px solid red;*/

  font-family: GillSans;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #ff8581;
}

.hour h3 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.07;
  text-align: center;
  color: #5d5d5d;
}

.address h3 {
  font-size: 14px;
  text-align: center;
  color: #5d5d5d;
}
